{% extends "base.html" %}

{% block content%}
<div class="container">
	<h2>Sign Up</h2>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="container">
		<input class="first input-primary" type="text" name="first_name" placeholder="First Name" >
		<input class="last input-primary" type="text" name="last_name" placeholder="Last Name" >
		<input class="email input-primary" type="email" name="email" placeholder="Email" >
		<input class="password input-primary" type="password" name="password" placeholder="Password">
		<input class="password1 input-primary" type="password" name="password2" placeholder="Confirm Password" >
		<div class="checkbox">
			<div class="checkbox-primary">
				<input type="checkbox" id="chekcbox1" checked>
				<label for="chekcbox1"><span class="checkbox-icon"></span> I Agree</label>
			</div>
			<a href="#"> Terms and Conditions</a>
		</div>
		<button class="btn btn-primary" type="submit" >Sign Up</button>
		<div class="btn btn-secondary" >
			<p class="text-base"> Do you have an account? <a href="/signin"> Login </a></p>
		</div>
		</div>
	</form>
</div>
{% endblock %}
