{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>Sign In</h2>
	<form action="" method="POST">
		{% csrf_token %}
		<input type="text" name="email" placeholder="Email" class="user input-primary">
		<input type="password" name="password" placeholder="Password" class="user input-secondary">
		<div class="flex justify-between my-4">
			<div class="checkbox">
				<input type="checkbox" id="chekcbox1" checked>
				<label for="chekcbox1"><span class="checkbox-icon"></span>Remember Me</label>
			</div>
			<a href="#"> Forgot Your Password? </a>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		<div class="text text-area">
			<p class="text-base"> Not registered? <a href="/signup" class=""> Create a account </a></p>
		</div>
	</form>
</div>
{% endblock %}